.row {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 10px;
  height: 100%;
}
.row:last-child {
  margin-bottom: 0;
}

[class*='col-'] {
  padding: 10px;
  width: 90%;
  margin: 10px;
}

@media all and (min-width: 600px) {
  .col-1-12 {
    width: 8.33%;
  }

  .col-2-12 {
    width: 16.66%;
  }

  .col-3-12 {
    width: 25%;
  }

  .col-4-12 {
    width: 30%;
  }

  .col-5-12 {
    width: 41.66%;
  }

  .col-6-12 {
    width: 50%;
  }

  .col-7-12 {
    width: 58.33%;
  }

  .col-8-12 {
    width: 66.66%;
  }

  .col-9-12 {
    width: 75%;
  }

  .col-10-12 {
    width: 83.33%;
  }

  .col-11-12 {
    width: 91.66%;
  }
}
[class*='color-'] {
  margin-bottom: 1rem;
}

.color-cyan {
  background-color: #006064;
}

.color-teal {
  background-color: #009688;
}

.color-purple {
  background-color: #673AB7;
}

.col{
  /* color: var(--COLOR_GHOS_WHITE); */
  color: #F8F8FF;
}

.col > h4 {
  text-align: center;
  font-size: 1.3rem;;
}

.col > ul { 
  font-size: 1.2rem;
}
